@model  DevIO.App.ViewModels.FornecedorViewModel
@{ 
    ViewData["Title"] = "Atualizar Endereço";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span arial-hidden="true">x</span>
        <span class="sr-only">Fechar</span>
    </button>
</div>